input {
  position: absolute;
  left: -9999px;
}

div.missing-word {
  display: inline-block;

  .dot {
    font-style: normal;
    display: inline-block;
    margin-right: 3px;
    position: relative;
    &:before{
      content:"\00b7";
    }
  }

  input:focus + label {
    .dot {
      &:first-child {
        &:after {
          content: '';
          display: block;
          position: absolute;
          width: 5px;
          height: 100%;
          top: 0;
          background: rgba(0, 0, 0, 0.2);
          -webkit-animation: 1s blink step-end infinite;
          -moz-animation: 1s blink step-end infinite;
          -ms-animation: 1s blink step-end infinite;
          -o-animation: 1s blink step-end infinite;
          animation: 1s blink step-end infinite;
        }
      }
    }
  }
}


@keyframes "blink" {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

@-moz-keyframes blink {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

@-webkit-keyframes "blink" {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

@-ms-keyframes "blink" {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

@-o-keyframes "blink" {
  from, to {
    background-color: transparent;
  }
  50% {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
